body{
	font-family: Garamond;
}

/* LOGIN PAGE */

.login {
	width: 100vw;
	height: 100vh;
	background-image: url("./Components/assets/loginBG.png");
	background-repeat: no-repeat;
	background-size: 100%;
}

.loginContent {
	display: flex;
	width: 500px;
	height: 522px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-shrink: 0;
	margin-left: 55%;
}

#login {
	color: #fff;
	text-align: center;
	
	font-size: 95px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	text-decoration-line: underline;
  margin-bottom: 15%;
  margin-top: 63%;
}

#email, #pwd {
	height: 30.359px;
	color: #fff;
	
	font-size: 32px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
  margin-left: 3%;
}

#pwdInput, #emailInput{
  width: 500px;
  height: 50.598px;
  border-radius: 30px;
  background: #FFF;
  box-shadow: 0px 4px 20px 4px rgba(0, 0, 0, 0.50);
  margin-top: 1%;
  padding-left: 3%;
  color: #4C7ED5;
  
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
}

.pwd{
  margin-top: 5%;
}

#loginBtn{
  width: 250px;
  height: 50.598px;
  flex-shrink: 0;
  border-radius: 30px;
  background: #FFF;
  box-shadow: 0px 4px 20px 4px rgba(0, 0, 0, 0.50);
  color: #083866;
  
  font-size: 35.5px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 10%;
  margin-left: 25%;
}

/* PRODUCT CARD */

.card{
	width: 300px;
	height: 350px;
	border-radius: 15px;
	border: 3px solid #497BD0;
	background: #FFF;
	box-shadow: 4px 4px 15px 10px rgba(8, 65, 110, 0.60);
}

.card-img-top{
	width: 294px;
	height: 214px;
	border-radius: 14px 14px 0px 0px;
	background: #042453;
}

.card-title{
	width: 250px;
	height: 26px;
	color: #083463;
	
	font-size: 27px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.prdct-type{
	width: 250px;
	height: 21px;
	color: #174992;
	
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.stock{
	width: 250px;
	height: 19px;
	color: #00AE46;
	
	font-size: 21px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}